*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue', cursive;
  background-color: #080a0b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #fa163f);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00c6ff);
}
html {
  scroll-behavior: smooth;
}

.up {
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 7px;
  font-size: 30px;
  background-color: #0c0c0c;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  border: 2px solid #ffb548;
  border-radius: 50%;
  transition: all 0.3s linear;
  z-index: 50;
  opacity: 0;
}

.up:hover {
  background-color: #ffb548;
  transition: all 0.3s linear;
}